APP_ENVIRONMENT=Production

REDIS_HOST=replace-with-production-redis
REDIS_PORT=6379

KAFKA_BROKERS=replace-with-production-kafka:9092

USER_SERVICE_URL=http://user-service:5010
SESSION_SERVICE_URL=http://session-service:5011
MODERATION_SERVICE_URL=http://moderation-service:5012
ADMIN_SERVICE_URL=http://admin-service:5013
REALTIME_SERVICE_URL=http://realtime-service:5005

MATCHMAKING_SERVICE_URL=http://matchmaking-service:8081
ANALYTICS_SERVICE_URL=http://analytics-service:8083
PRESENCE_SERVICE_URL=http://presence-service:8084
NOTIFICATION_SERVICE_URL=http://notification-service:8085
AI_MODERATION_SERVICE_URL=http://ai-moderation-service:8090
